.avatar {
    display: flex;
    align-items: center;
    cursor: pointer;

    .avatar-image {
        background-color: #eee;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0.1rem;
    }
    svg {
        font-size: 12px;
    }
}
